/* Large devices */
@media (min-width: 100em) {
    .posts_container {
        width: 100%;
        display: grid;
        list-style: none;
        justify-content: space-between;
        padding-left: 120px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
    }
}

/* Laptop */
@media (min-width: 64em) and (max-width: 100em) {
    .posts_container {
        display: grid;
        list-style: none;
        justify-content: space-between;
        padding-left: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px;
    }
}